<div class="container">
  <h3><%= link_to "Search for Twitter Users", new_twitter_path %></h3>
  <h3><%= link_to "Search for Vimeo Users", new_vimeo_path %></h3>

  <div class="feed">
    <ul>
    <% @filtered_videos.each do | video | %>
      <li>
        <h4><%= video[:title] %></h4>
        <a href="<%= video[:url] %>"> <img src="<%= video[:thumbnail] %>" alt="icon" /></a>
      </li>
    <% end %>
    </ul>
  </div>
</div>
