<div class="container">

  <ul class="search-users">
    <li><h4>Search For: </h4></li>
    <li><h4><i class="fa fa-twitter-square"></i><%= link_to "Twitter Users", new_twitter_path %></h4></li>
    <li><h4><i class="fa fa-vimeo-square"></i><%= link_to "Vimeo Users", new_vimeo_path %></h4></li>
    <li><h4><i class="fa fa-instagram"></i><%= link_to "Instagram Users", new_instagram_path %></h4></li>
    <li><h4><i class="fa fa-github-square"></i><%= link_to "Github Users", new_github_path %></h4></li>
  </ul>

  <div class="feed">
    <ul>
      <% if @filtered_videos != nil %>
        <% @filtered_videos.each do |feed| %>
          <li>
            <h3><%= feed.inspect %></h3>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
