<div class="container">
  <ul class= "connect accounts">
    <li><h4>Connect More Feeds:</h4></li>
    <%#= link_to "Other Acct", "/users/" %>
    <%= link_to "Add Twitter", "/auth/twitter" %>
    <%= link_to "Add Vimeo", "/auth/vimeo" %>
    <%= link_to "Add Instagram", "/auth/instagram" %>
    <%= link_to "Add Github", "/auth/github" %>
  </ul>
  <ul class="search-users">
    <li><h4>Search For: </h4></li>
    <li><h4><i class="fa fa-twitter-square"></i><%= link_to "Twitter Users", new_twitter_path %></h4></li>
    <li><h4><i class="fa fa-vimeo-square"></i><%= link_to "Vimeo Users", new_vimeo_path %></h4></li>
    <li><h4><i class="fa fa-instagram"></i><%= link_to "Instagram Users", new_instagram_path %></h4></li>
    <li><h4><i class="fa fa-github-square"></i><%= link_to "Github Users", new_github_path %></h4></li>
  </ul>

  <!-- <div class="feed"> -->
  <% if @posts %>
    <% @posts.each do |post| %>
    <ul class="list-unstyled">
      <dl class="dl-horizontal">
        <dt>
          <!-- Add accessibility tag -->
          <img class="feed" src="<%= post.author_profile_pic %>">
        </dt>
        <dd>
          <%= post.author_name %>
          <small>
            @<%= post.author_handle %><br>
          </small>
          <% if post.feed.provider == "vimeo" %>
            <img class="visual-media" src="<%= post.content %>">
          <% elsif post.feed.provider == "instagram" %>
            <img class="visual-media" src="<%= post.content %>">
          <% else %>
            <%= post.content %>
          <% end %>
        </dd>
      </dl>
    <% end %>
  <% end %>
</div>
