<div class="container">
  <h3>Search Results</h3>
    <% @search_results.each do |result|  %>
      <ul class="list-unstyled">
        <dl class="dl-horizontal">
          <dt>
            <!-- use link_to? -->
            <img class="twitter-icon" src="<%= result.profile_image_uri %>">
          </dt>
          <dd>
            <strong>
              <%= result.name %>
            </strong>
            <div>
              <%= link_to "@#{result.handle}", twitter_create_path, method: :post %>
            </div>
          </dd>
        </dl>
      </ul>

      <!-- Can I make the "link to" above the submit tag? -->
      <!-- Should this be a form_for(@subscription)? -->
      <!-- Is there a way to do this with jQuery's .data()? -->
      <!-- <%= form_tag twitter_create_path do %>
        <%= hidden_field_tag "provider", "twitter" %>
        <%= hidden_field_tag "uid", result.id %>
        <%= hidden_field_tag "username", result.handle %>
        <%= submit_tag "Follow" %>
      <% end %> -->
    <% end %>
</div>
