<div class="container">
  <h1>Vimeo Search Results</h1>

  <% @users_info.each do |user| %>
    <h3><%= user.name %></h3>

    <img src="<%= user['portrait_large'] %>" alt="icon" />

    <%= form_tag( create_vimeo_path ) do%>
      <p>
        <%= hidden_field_tag 'vimeo_display_name', user['display_name'] %>
        <%= hidden_field_tag 'subscription_uid', user['id'] %>
        <%= hidden_field_tag 'username', @name %>
        <%= submit_tag "Subscribe", class: 'btn btn-default' %>
      </p>
    <% end %>


  <% end %>




  <p>
    <%= link_to "Back to Vimeo Search", new_vimeo_path %>
  </p>
</div>
