<%= raise %>
<div class="container">
  <h1>Github Search Results</h1>

    <% @search_results[:items].each do |result| %>
      <div class='result row'>
      <h3><%= link_to result[:login], "http://github.com/#{result[:login]}", target: "_blank" %></h3>

      <% if result[:avatar_url] != nil %>
        <img class="github-icon" src="<%= result[:avatar_url] %>">
      <% end %>
      <%= form_tag(github_path) do %>
        <p>
          <%= hidden_field_tag 'username', result[:login], class: "github_name" %>
          <%= hidden_field_tag 'uid', result[:id], class: "github_id" %>
          <%= hidden_field_tag 'provider', "github", class: "github_provider"%>
          <%= submit_tag "Subscribe", class: ' choose_github btn btn-default' %>
        </p>
      <% end %>

      </div>
    <% end %>

    <p>
      <%= link_to "Back to Github Search", new_github_path %>
    </p>
</div
