<!DOCTYPE html>
<html>
<head>
  <title>Stream</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<header>
  <% if flash[:notice] %>
    <%= render "layouts/notice" %>
  <% end %>

  <% if flash[:login] %>
    <%= render "layouts/login" %>
  <% end %>


  <% if session[:user_id] %>
    <%= render "layouts/signedin" %>
  <% else %>
    <%= render "layouts/guest" %>
  <% end %>
</header>

<%= yield %>

</body>
</html>
